<div class="row amimated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input  (keyup)="buscar(txtTermino.value)" class="form-control" placeholder="Buscar usuario..." type="text" #txtTermino >
            </div>
        </div>
    </div>
</div>
<!-- *ngIf="cargando" -->
<div *ngIf="cargando"  class="row amimated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>
<div *ngIf="!cargando" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Total de Medicos: {{medicos?.length}}</h4>
                        <h6 class="card-subtitle">Medicos registrados en la aplicación</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a routerLink="../medico/nuevo" class="cursor-p btn btn-primary"><i class="fa fa-hospital-o"></i> Crear Medico</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w50">#</th>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td>{{medicos!.indexOf(medico)+1}}</td>
                                <td><img (click)="abrirModal(medico)" class="avatar cursor-p" [src]='medico.img! | imagenPipe: "medicos"' [alt]="medico.nombre"></td>
                                <td>{{medico.nombre}}</td>
                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/medico', medico._id]" data-toggle="tooltip" data-original-title="Edit"> <i
                                            class="cursor-p fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="borrarMedico(medico)" data-toggle="tooltip" data-original-title="Close"> <i
                                            class="cursor-p fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-secondary">Anteriores</button>
                &nbsp; &nbsp;
                <button class="btn btn-secondary">Siguientes</button>

            </div>
        </div>
    </div>
</div>