<div class="row amimated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input class="form-control" placeholder="Buscar usuario..." type="text" #txtTermino (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="row amimated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Total de hospitales: {{hospitales?.length}}</h4>
                        <h6 class="card-subtitle">Hospitales registrados en la aplicación</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button (click)="abrirSwal()" class="btn btn-primary"><i class="fa fa-hospital-o"></i> Crear hospital</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w50">#</th>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td>{{hospitales!.indexOf(hospital)+1}}</td>
                                <td class="text-center">
                                    <img (click)="abrirModal(hospital)" class="avatar cursor-p" [src]='hospital.img! | imagenPipe: "hospitales"' [alt]="hospital.nombre">
                                </td>
                                <td><input type="text" class="form-control" placeholder="nombre del hospital" [(ngModel)]="hospital.nombre"></td>
                                <td class="text-nowrap text-center">
                                    <a (click)="guardarCambios(hospital)" data-toggle="tooltip" data-original-title="Guardar Cambios"> <i
                                            class="cursor-p fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="borrarHospital(hospital)" data-toggle="tooltip" data-original-title="Borrar"> <i
                                            class="cursor-p fa fa-close text-danger"></i> </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-secondary">Anteriores</button>
                &nbsp; &nbsp;
                <button class="btn btn-secondary">Siguientes</button>

            </div>
        </div>
    </div>
</div>